<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpay.pay.dao.AppMapper">

  <resultMap id="AppResultMap" type="com.xpay.pay.models.App">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_key" jdbcType="VARCHAR" property="appKey" />
    <result column="app_secret" jdbcType="VARCHAR" property="appSecret" />
  </resultMap>
  
  <sql id="appColumns">
    id,
    app_key,
    app_secret
  </sql>

  <select id="findById" resultMap="AppResultMap">
    SELECT
    <include refid="appColumns" />
    FROM bill_app
    WHERE bill_app.id = #{id} AND deleted = false
  </select>
  
   <select id="findAll" resultMap="AppResultMap">
    SELECT
    <include refid="appColumns" />
    FROM bill_app
    WHERE deleted = false
  </select>
  
  <insert id="insert" parameterType="com.xpay.pay.models.App">
    insert into bill_app
    <trim prefix="(" suffix=")" suffixOverrides=",">
     app_key, app_secret
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     	#{appKey,jdbcType=VARCHAR},
     	#{appSecret,jdbcType=VARCHAR}
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.xpay.pay.models.App">
    update bill_app
    <set>
      <if test="appKey != null">
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="appSecret != null">
        app_secret = #{appSecret,jdbcType=VARCHAR},
      </if>
      update_date = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
      and deleted = false
  </update>
  
  <update id="deleteById">
    update bill_app
    <set>
      deleted = true,
      update_date = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
      and deleted = false
  </update>
  
</mapper>