<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpay.pay.dao.StoreMapper">

  <resultMap id="StoreResultMap" type="com.xpay.pay.model.Store">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="bail" jdbcType="NUMERIC" property="bail" />
    <result column="non_bail" jdbcType="NUMERIC" property="nonBail" />
    <result column="bar" jdbcType="NUMERIC" property="bar" />
    <result column="bail_percentage" jdbcType="SMALLINT" property="bailPercentage" />
    <result column="rotation_type" jdbcType="VARCHAR" property="rotationType" />
    <result column="rotation_index" jdbcType="SMALLINT" property="rotationIndex" />
    <result column="channels" jdbcType="VARCHAR" property="channelIds" />
    <result column="bail_channels" jdbcType="VARCHAR" property="bailChannelIds" />
    <result column="daily_limit" jdbcType="BIGINT" property="dailyLimit" />
    <result column="csr_tel" jdbcType="VARCHAR" property="csrTel" />
    <result column="proxy_url" jdbcType="VARCHAR" property="proxyUrl" />
    <result column="app_id" jdbcType="BIGINT" property="appId" />
    <result column="agent_id" jdbcType="BIGINT" property="agentId" />
    <result column="quota" jdbcType="NUMERIC" property="quota" />
  </resultMap>
  
  <sql id="storeColumns">
    id,
    code,
    name,
    bail,
    non_bail,
    bar,
    bail_percentage,
    rotation_type,
    rotation_index,
    channels,
    bail_channels,
    daily_limit,
    csr_tel,
    proxy_url,
    app_id,
    agent_id,
    quota
  </sql>

  <select id="findById" resultMap="StoreResultMap">
    SELECT
    <include refid="storeColumns" />
    FROM bill_store
    WHERE bill_store.id = #{id} AND deleted = false
  </select>
  
  <select id="findByCode" resultMap="StoreResultMap">
    SELECT
    <include refid="storeColumns" />
    FROM bill_store
    WHERE bill_store.code = #{code} AND deleted = false
  </select>
  
  <select id="findByAgentId" resultMap="StoreResultMap">
    SELECT
    <include refid="storeColumns" />
    FROM bill_store
    WHERE bill_store.agent_id = #{agentId} AND deleted = false
  </select>
  
   <select id="findAll" resultMap="StoreResultMap">
    SELECT
    <include refid="storeColumns" />
    FROM bill_store
    WHERE deleted = false
  </select>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xpay.pay.model.Store">
    insert into bill_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
     code, name, 
     <if test="bar != null">
        bar,
      </if>
      <if test="bailPercentage != null">
        bail_percentage,
      </if>
      <if test="rotationType != null">
        rotation_type,
      </if>
      <if test="channelIds != null">
        channels,
      </if>
      <if test="bailChannelIds != null">
        bail_channels,
      </if>
      <if test="csrTel != null">
        csr_tel,
      </if>
      <if test="proxyUrl != null">
        proxy_url,
      </if>
      <if test="appId != null">
        app_id,
      </if>      
      <if test="agentId != null">
        agent_id,
      </if>  
       <if test="quota != null">
        quota,
      </if>      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     	#{code,jdbcType=VARCHAR},
     	#{name,jdbcType=VARCHAR},
     	<if test="bar != null">
        	#{bar,jdbcType=NUMERIC},
        </if>
        <if test="bailPercentage != null">
        	#{bailPercentage,jdbcType=SMALLINT},
        </if>
        <if test="rotationType != null">
        	#{rotationType,jdbcType=VARCHAR},
        </if>
        <if test="channelIds != null">
        	#{channelIds,jdbcType=VARCHAR},
        </if>
        <if test="bailChannelIds != null">
        	#{bailChannelIds,jdbcType=VARCHAR},
        </if>
         <if test="csrTel != null">
        	#{csrTel,jdbcType=VARCHAR},
        </if>
         <if test="proxyUrl != null">
        	#{proxyUrl,jdbcType=VARCHAR},
        </if>
         <if test="appId != null">
        	#{appId,jdbcType=BIGINT},
        </if>
         <if test="agentId != null">
        	#{agentId,jdbcType=BIGINT},
        </if>
         <if test="quota != null">
        	#{quota,jdbcType=NUMERIC},
        </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.xpay.pay.model.Store">
    update bill_store
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bail != null">
        bail = #{bail,jdbcType=NUMERIC},
      </if>
      <if test="nonBail != null">
        non_bail = #{nonBail,jdbcType=NUMERIC},
      </if>
      <if test="bar != null">
        bar = #{bar,jdbcType=NUMERIC},
      </if>
      <if test="bailPercentage != null">
        bail_percentage = #{bailPercentage,jdbcType=SMALLINT},
      </if>
      <if test="rotationType != null">
        rotation_type = #{rotationType,jdbcType=VARCHAR},
      </if>
       <if test="rotationIndex != null">
        rotation_index = #{rotationIndex,jdbcType=SMALLINT},
      </if>   
       <if test="channelIds != null">
        channels = #{channelIds,jdbcType=VARCHAR},
      </if>
      <if test="bailChannelIds != null">
        bail_channels = #{bailChannelIds,jdbcType=VARCHAR},
      </if>
      <if test="dailyLimit != null">
        daily_limit = #{dailyLimit,jdbcType=BIGINT},
      </if>   
      <if test="csrTel != null">
        csr_tel = #{csrTel,jdbcType=VARCHAR},
      </if>
      <if test="proxyUrl != null">
        proxy_url = #{proxyUrl,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=BIGINT},
      </if> 
      <if test="quota != null">
        quota = #{quota,jdbcType=NUMERIC},
      </if> 
      update_date = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
      and deleted = false
  </update>
  
  <update id="deleteById">
    update bill_store
    <set>
      deleted = true,
      update_date = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
      and deleted = false
  </update>
  
</mapper>