<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpay.pay.dao.StoreTransactionMapper">

  <resultMap id="StoreTransactionResultMap" type="com.xpay.pay.model.StoreTransaction">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="agent_id" jdbcType="BIGINT" property="agentId" />
    <result column="amount" jdbcType="NUMERIC" property="amount" />
    <result column="quota" jdbcType="NUMERIC" property="quota" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="bail_percentage" jdbcType="NUMERIC" property="bailPercentage" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
  </resultMap>
  
  <sql id="storeTransactionColumns">
    id,
    store_id,
    order_no,
    operation,
    agent_id,
    amount,
    quota,
    status,
    bail_percentage,
    create_date
  </sql>
  
   <select id="findById" resultMap="StoreTransactionResultMap">
    SELECT
    <include refid="storeTransactionColumns" />
    FROM bill_store_transaction
    WHERE bill_store_transaction.id = #{id}
  </select>
  
  <select id="findByOrderNo" resultMap="StoreTransactionResultMap">
    SELECT
    <include refid="storeTransactionColumns" />
    FROM bill_store_transaction
    WHERE bill_store_transaction.order_no = #{orderNo}
  </select>
  
  <select id="findByStoreIdAndTime" resultMap="StoreTransactionResultMap">
    SELECT
    <include refid="storeTransactionColumns" />
    FROM bill_store_transaction
    WHERE bill_store_transaction.store_id = #{storeId}
    <if test="startTime != null">
     AND create_date &gt;= #{startTime} 
    </if>
    <if test="endTime != null">
     AND create_date &lt; #{endTime}
    </if>
    ORDER BY create_date DESC
  </select>
  
  <select id="findByAgentIdAndTime" resultMap="StoreTransactionResultMap">
    SELECT
    <include refid="storeTransactionColumns" />
    FROM bill_store_transaction
    WHERE bill_store_transaction.agent_id = #{agentId}
    <if test="startTime != null">
     AND create_date &gt;= #{startTime} 
    </if>
    <if test="endTime != null">
     AND create_date &lt; #{endTime}
     </if>
     ORDER BY create_date DESC
  </select>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xpay.pay.model.StoreTransaction">
    insert into bill_store_transaction
    <trim prefix="(" suffix=")" suffixOverrides=",">
     order_no, store_id, operation, agent_id, amount, quota, bail_percentage, status
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     	#{orderNo,jdbcType=VARCHAR},
     	#{storeId,jdbcType=BIGINT},
     	#{operation,jdbcType=VARCHAR},
     	#{agentId,jdbcType=BIGINT},
     	#{amount,jdbcType=NUMERIC},
     	#{quota,jdbcType=NUMERIC},
     	#{bailPercentage,jdbcType=NUMERIC},
     	#{status,jdbcType=VARCHAR}
    </trim>
  </insert>
  
   <update id="updateById" parameterType="com.xpay.pay.model.StoreTransaction">
    update bill_store_transaction
    <set>
        status = #{status,jdbcType=VARCHAR},
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="deleteById">
    update bill_store_transacton
    <set>
      update_date = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>