<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="xpay-service-logger">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}:%L - %msg%n"/>
    </Console>
  </Appenders>

  <Loggers>
    <Logger name="com.xpay.pay" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="AccessLog" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="PerformanceLog" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>