order.subject=订单
notify.endpoint=http://www.wfpay.xyz/xpay/notify/
jsapi.endpoint=http://www.wfpay.xyz/xpay/jspay/
h5api.endpoint=http://www.wfpay.xyz/xpay/h5/pay/
h5api.ext.endpoint=http://api.seoniao.com/json.php?key=VBCGWLVKAZ&id=
qrcode.endpoint=http://www.wfpay.xyz/xpay/qrcode/
risk.check.fee=false
risk.check.ip=false
inRequest.address=106.14.227.204
store.lock.time=10000
goods.lock.time=10000
time.window.start=60000
time.window.end=-9000