order.subject=订单
#notify.endpoint=http://www.zmpay.top/xpay/notify/
#jsapi.endpoint=http://www.zmpay.top/xpay/jspay/
notify.endpoint=http://http://www.wfpay.xyz/xpay/notify/
jsapi.endpoint=http://http://www.wfpay.xyz/xpay/jspay/
risk.check.fee=true
risk.check.ip=false
inRequest.address=106.14.227.204