<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
   	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
   	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">
 
	<bean id="httpClientFactory" class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
		<constructor-arg ref="httpClient" />
		<property name="connectTimeout" value="5000" />
		<property name="readTimeout" value="5000" />
	</bean>

	<bean id="httpClient" class="org.apache.http.impl.client.DefaultHttpClient">
		<constructor-arg ref="connectionManager" />
		<constructor-arg ref="httpParams" />
	</bean>
	
	<bean id="httpParams" class="org.apache.http.params.SyncBasicHttpParams" /> 

	<bean id="httpClientParams" class="org.apache.http.client.params.ClientParamBean">
		<constructor-arg ref="httpParams" />
		<property name="cookiePolicy">
			<util:constant static-field="org.apache.http.client.params.CookiePolicy.IGNORE_COOKIES" />
		</property>
	</bean>
	
	<bean id="connectionManager" class="org.apache.http.impl.conn.PoolingClientConnectionManager">
		<property name="defaultMaxPerRoute" value="10" />
		<property name="maxTotal" value="300" />
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<constructor-arg ref="httpClientFactory" />
		<property name="interceptors" />
		<property name="messageConverters">
		  <list>
		      <bean class="com.xpay.pay.util.JacksonHttpMessageConverter"></bean>
		      <bean class="org.springframework.http.converter.StringHttpMessageConverter"></bean>
		      <bean class="org.springframework.http.converter.xml.Jaxb2CollectionHttpMessageConverter"></bean>
		      <bean class="org.springframework.http.converter.FormHttpMessageConverter"></bean>
		  </list>
		</property>
	</bean>


</beans>